.form {
    margin-top: 2.1rem;
    &_group {
        width: 100%;
        & + .form_group {
            margin-top: 1.5rem;
            @media screen and (max-width: 575px) {
                margin-bottom: 0.1rem;
            }
        }
    }
    &_control {
        background: var(--white);
        border: 1px solid var(--border);
        border-radius: 6px;
        font-weight: normal;
        font-size: 1.4rem;
        color: var(--text-color);
        padding: 0.5rem 1.5rem;
        width: 100%;
        min-height: 4.5rem;
    }
    & label {
        font-size: 1.4rem;
        color: var(--heading);
        display: block;
        width: 100%;
        margin-bottom: 0.5rem;
        font-weight: 600;
    }
}
